.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}
.nav-items ul{
    display: flex;
    justify-content: space-between;
    gap:2rem;
}
.nav-items ul li{
    list-style: none;
}
.nav-items ul button{
    background: transparent;
    border: none;
    border: 2px solid blueviolet;
    color: blueviolet;
    border-radius: 5px;
    padding: 0.5rem;
}